@import "tailwindcss";

@layer utilities {
  .body-default {
    @apply bg-neutral-50 text-neutral-800 antialiased;
  }
}

@layer components {
  .badge {
    @apply inline-block bg-brand-50 text-brand-700 px-2 py-0.5 rounded-full;
  }
}

@layer base {
  h1 {
    font-size: theme('fontSize.h1.0');         /* 2.5rem */
    line-height: theme('fontSize.h1.1.lineHeight');
    font-weight: theme('fontSize.h1.1.fontWeight');
  }

  a {
    color: theme('colors.brand.600');
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
